

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
}

a {
  text-decoration: none;
}

.color-blue {
  color:#60a6ff;
}

.color-purple {
  color:#c17fff;
}

.color-orange {
  color:#ff8b37;
}




@media (max-width: 1199.98px) {}

@media (max-width: 1024px) {}

@media (max-width: 991.98px) {}

@media (max-width: 834px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}

@media (max-width: 414px) {}

@media (max-width: 360px) {}


@media (min-width: 768px) {
	.html-demo #sidebar {
		position: fixed;
		top: 52px;
		right: 0;
		left: 0;
		z-index: 1030;
		height: 100vh;
		height: -webkit-fill-available;
		max-height: 100vh;
        min-height: 100vh !important;
		overflow-y: auto;
	}
	.html-demo #sidebarMenu {
		min-height: 100vh !important;
	}
	.html-demo #sidebarMenu .offcanvas-body {
		padding: 1rem 1rem 3rem 1rem;
	}
}


@media (min-width: 768px) and (max-width: 991.98px) {}








